@charset "UTF-8";
@font-face {
	font-family: 'PT-Root-UI';
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Medium.woff) format('woff');
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Medium.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT-Root-UI';
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Bold.woff) format('woff');
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: 700;
}
@font-face {
	font-family: 'PT-Root-UI';
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Light.woff) format('woff');
	src: url(./fonts/PT-Root-UI/PT-Root-UI_Light.woff2) format('woff2');
	font-weight: 100;
	font-style: 100;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 1440px;
	margin: 0 auto;
	padding: 96px 80px 104px;
}
@media (max-width: 1440px) {
	.container {
		width: 960px;
		margin: 0 auto;
		padding: 48px 54px;
	}
}
.scroll-top {
	background: url(../img/scroll-top.png);
	background-size: cover;
	background-position: center;
	width: 40px;
	height: 40px;
	z-index: 999;
	border: 0;
	border-radius: 100px;
	cursor: pointer;
	position: fixed;
	right: 40px;
	bottom: 40px;
}
.scroll-top--hide {
	display: none;
}
@media (max-width: 1440px) {
	.scroll-top {
		right: 32px;
		bottom: 32px;
	}
}
.main {
	width: 801px;
}
.main__title {
	font-size: 54px;
	font-weight: 700;
	line-height: 55px;
}
.main__btn {
	font-size: 16px;
	line-height: 24px;
	border: 1px solid rgba(11, 23, 57, 0.2);
	border-radius: 25px;
	width: 156px;
	height: 40px;
	background: 0 0;
	cursor: pointer;
	margin-top: 53px;
}
.main__btn--hide {
	display: none;
}
.main__sort {
	margin-top: 48px;
	height: 36px;
	box-shadow: 0 1px 0 0 #0000001a;
}
@media (max-width: 1440px) {
	.main {
		width: 506px;
	}
	.main__btn {
		font-size: 15px;
		line-height: 22px;
		border: 1px solid rgba(11, 23, 57, 0.2);
		border-radius: 25px;
		width: 150px;
		height: 40px;
		background: 0 0;
		cursor: pointer;
		margin-top: 23px;
	}
	.main__btn--hide {
		display: none;
	}
	.main__sort {
		display: flex;
		align-items: center;
		margin-top: 24px;
		height: 36px;
		box-shadow: none;
	}
}
.sort span {
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	margin-right: 20px;
}
.flat-item__description :last-child,
.sort span:last-child {
	margin: 0;
}
.sort__plan {
	width: 80px;
}
.sort__flat {
	width: 281px;
}
.sort__floor,
.sort__price,
.sort__size {
	width: 120px;
	cursor: pointer;
}
.sort__btn--active::after,
.sort__floor::after,
.sort__price::after,
.sort__size::after {
	content: url(../img/sort-arrows.png);
	margin-left: 8px;
	width: 10px;
	height: 7px;
}
.sort__btn--active {
	color: #3eb57c;
}
.sort__btn--active::after {
	content: url(../img/sort-arrows-active.png);
}
@media (max-width: 1440px) {
	.sort span {
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
		margin-right: 20px;
	}
	.sort span:last-child {
		margin: 0;
	}
	.sort__flat,
	.sort__plan {
		display: none !important;
	}
	.sort__floor,
	.sort__price,
	.sort__size {
		width: auto;
	}
}
.flat-list__item {
	height: 120px;
	box-shadow: 0 1px 0 0 #0000001a;
	padding-top: 16px;
	cursor: pointer;
}
@media (max-width: 1440px) {
	.flat-list__item {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		cursor: pointer;
		padding: 16px 24px;
		height: 112px;
		margin-top: 4px;
	}
}
.flat-item__content {
	display: flex;
}
.flat-item__description {
	margin: 0;
	order: 3;
	display: flex;
}
.flat-item__description * {
	font-size: 16px;
	line-height: 24px;
	display: block;
	width: 120px;
	margin-right: 20px;
}
.flat-item__img {
	display: block;
	width: 80px;
	height: 80px;
	order: 1;
	margin-right: 20px;
}
.flat-item__rooms {
	display: block;
	width: 281px;
	order: 2;
	margin-right: 20px;
}
.flat-item__floor::after {
	content: ' из 17';
	opacity: 50%;
}
@media (max-width: 1440px) {
	.flat-item__content {
		display: grid;
		grid-template-columns: 344px auto;
		grid-template-rows: 20px 20px;
		row-gap: 16px;
	}
	.flat-item__content span {
		font-size: 14px;
		line-height: 20px;
		margin-right: 20px;
		display: inline-block;
	}
	.flat-item__content span:last-child {
		margin: 0;
	}
	.flat-item__description,
	.flat-item__rooms {
		grid-column: 1;
	}
	.flat-item__size {
		width: 50px;
	}
	.flat-item__price {
		width: 80px;
	}
	.flat-item__price::after {
		content: ' ₽';
	}
	.flat-item__img {
		grid-column: 2;
		grid-row: 1/3;
		width: 80px;
		height: 80px;
		justify-self: end;
	}
	.flat-item__floor {
		width: 85px;
	}
	.flat-item__floor::after {
		content: ' из 17 этаж';
		opacity: 50%;
	}
}
.sidebar {
	padding: 40px;
	width: 399px;
	height: 372px;
	background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0, rgba(149, 208, 161, 0.3) 100%);
	border-radius: 10px;
}
.sidebar__filter {
	margin-top: 26px;
}
@media (max-width: 1440px) {
	.sidebar {
		padding: 20px 19px;
		width: 318px;
		height: 318px;
	}
	.sidebar__filter {
		margin-top: 24px;
	}
}
.radio__input {
	display: none;
}
.radio__input:checked + .radio__text {
	background-color: #3eb57c;
	box-shadow: 0 6px 20px 0 #95d0a1;
	pointer-events: none;
	cursor: default;
}
.radio__text {
	display: inline-block;
	width: 44px;
	height: 44px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	background-color: #fff;
	border-radius: 100px;
	cursor: pointer;
}
.radio--hide {
	pointer-events: none;
	opacity: 20%;
	cursor: default;
}
.widget {
	display: flex;
	justify-content: space-between;
	width: 224px;
}
.filter__title {
	font-size: 14px;
	line-height: 18px;
}
.filter__content {
	display: flex;
	margin-top: 8px;
}
.filter__label {
	display: flex;
	align-items: center;
	height: 24px;
	width: 160px;
}
.filter__text {
	opacity: 0.5;
	margin-right: 8px;
}
.filter__input {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 0;
	background: 0 0;
	width: 75px;
	outline: 0;
}
.filter__input::-webkit-inner-spin-button,
.filter__input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.filter__slider {
	margin-top: 12px;
}
.filter__reset {
	display: block;
	color: #000;
	margin-top: 34px;
	margin-left: 16px;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}
.filter__reset::after {
	content: url(../img/filter-reset.png);
	width: 8px;
	height: 8px;
	margin-left: 8px;
}
@media (max-width: 1440px) {
	.filter__title {
		font-size: 13px;
		line-height: 20px;
	}
	.filter__content {
		display: flex;
		margin-top: 6px;
	}
	.filter__label {
		display: flex;
		align-items: center;
		height: 24px;
		width: 160px;
	}
	.filter__input,
	.filter__text {
		font-size: 14px;
		line-height: 20px;
	}
	.filter__text {
		opacity: 0.5;
		margin-right: 8px;
	}
	.filter__input {
		font-weight: 400;
		width: 75px;
		outline: 0;
	}
	.filter__input::-webkit-inner-spin-button,
	.filter__input::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.filter__slider {
		margin-top: 12px;
	}
	.filter__reset {
		display: block;
		color: #000;
		margin-top: 30px;
		margin-left: 16px;
		font-size: 13px;
		line-height: 18px;
		cursor: pointer;
	}
	.filter__reset::after {
		content: url(../img/filter-reset.png);
		width: 8px;
		height: 8px;
		margin-left: 8px;
	}
}
.noUi-target {
	background: #666;
	border: 0;
	border-radius: 1.5px;
	height: 3px;
	box-shadow: none;
}
.noUi-connect,
.noUi-handle {
	background: #3eb57c;
}
.noUi-handle {
	box-shadow: none;
	width: 14px !important;
	height: 14px !important;
	border: 0;
	border-radius: 100%;
	right: -10px !important;
}
.noUi-handle::after,
.noUi-handle::before {
	display: none;
}
html {
	scroll-behavior: smooth;
}
* {
	color: #0b1739;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'PT-Root-UI';
	font-weight: 400;
	font-style: normal;
}
